@use 'variables' as *;

body {
    background: linear-gradient(270deg, $backgroundGreen 0%, $backgroundBlue 100%);
}

header{
    .site{
        margin: 40px 0 80px 0;
    }

    .navBar{
        background-color: $pokeDarkBlue;
        padding-bottom: 30px;
    }
}

.wrapper {
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
}