// Contact Page Form Partial

@use 'variables' as *;

.contactPage {
    border: 5px inset $pokeDarkYellow;
    border-radius: 20px;
    padding: 30px;
    max-width: 1000px;
    margin-top: 150px;

    .header {
        display: flex;
        justify-content: center;

        h1 {
            margin: 0;
        }

        img{
            margin-right: 20px;
        }
    }
    p{
        text-align: center;
    }

    .contact{
        display: flex;
        justify-content: space-between;

        form,
        .mediaLinks{
            border: 2px solid $pokeDarkYellow;
            border-radius: 10px;
            padding: 20px;
        }
        form{
            display: flex;
            flex-direction: column;
            width: 50%;

            label{
                margin-top: 10px;
                margin-bottom: 3px;
            }
        }
    }    
}

.contact .info div,
.messageContainer,
.buttonContainer{
    display: flex;
    flex-direction: column;

    input,
    button,
    textarea{
        border-radius: 5px;
        border: 2px solid $pokeDarkBlue;
    }

    input{
        width: 100%;
    }

    button{
        width: 160px;
        height: 50px;
        margin-top: 10px;
        background-color: $pokeLightYellow;
        transition: 0.5s;

        &:hover,
        &:focus{
            background-color: $pokeDarkYellow;
        }
    }
}

.mediaLinks{
    width: 45%;

    .icons{
        margin-top: 10px;
        margin-bottom: 3px;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;

        div{
            margin-top: 10px;
            margin-bottom: 20px;

            i {
                border-radius: 3px;
                align-self: center;
                width: 30px;
            }
            
            a {
                text-decoration: none;
                color: $bodyFontBlack;
                transition: 0.5s;

                &:hover,
                &:focus{
                    color: $pokeDarkYellow;
                }
            }
        }        
    }

    .contactInfo{
        display: flex;
        flex-direction: column;
        
        div{
            display:flex;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 20px;

            i{
                width: 30px;
                height: 20px;
            }

            p{
                margin: 0;
            }
        }
    }
}