@use 'variables' as *;

footer{
    margin-top: 250px;
    background-color: $poke_dark_blue;

    .footerFlex{
        display: flex;
        flex-direction: column;
        
        .footerColumnSocial {
            margin-top: 50px;
            text-align: center;

            a{
                color: $body_font_white;
                margin: 0 20px;
                transition: 0.5s;

                &:hover,
                &:focus{
                    color: $poke_light_yellow;
                }
            }
        }

        .footerCompany {
            text-transform: uppercase;
            color: $body_font_white;
            font-size: 14px;
            padding-top: 30px;
            min-height: 10vh;
            display: flex;
            justify-content: center;
            margin: 0;
        }
    }       
}