@use 'variables' as *;

@font-face {
    font-family: "pokemonFont";
    src: url(#{$asset_path}/pokemon-hollow.woff) format("woff");
    src: url(#{$asset_path}/pokemon-hollow.woff2) format("woff2");

    src: url(#{$asset_path}/pokemon-solid.woff) format("woff");
    src: url(#{$asset_path}/pokemon-solid.woff2) format("woff2");
}

h1 {
    font-family: "pokemonFont";
    text-align: center;
    font-size: 800%;
    color: #ffcb05; 
    -webkit-text-stroke: 2px #2a75bb; 
} 

h2 {
    font-family: "pokemonFont";
    text-align: center;
    font-size: 500%;
    color: lightgoldenrodyellow;
    -webkit-text-stroke: 2px rgb(165, 78, 78);
}