@use 'variables' as *;

@font-face {
    font-family: "pokemonFont";
    src: url(#{$asset_path}/pokemon-hollow.woff) format("woff");
    src: url(#{$asset_path}/pokemon-hollow.woff2) format("woff2");
}

html {
    font-family: "pokemonFont";
    text-align: center;
}