@use 'variables' as *;

.navSpace {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    list-style: none;
    text-transform: none;
    padding-top: 30px;

    .pokeLogo a,
    .menuBar a{
        text-decoration: none;
        transition: 0.5s;

        &:hover,
        &:focus{
            color: $pokeDarkYellow;
        }
    }

    .menuBar a{
        padding: 0 10px 0 50px;
    }
        
    .pokeLogo{
        position: relative;

        a{
           position: absolute;
           top: 7px; 
        }
        
        img{
            width: 80px;
        }
    }
}