.navBar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    list-style: none;
    text-transform: none;
    padding-left: 100px;
    padding-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    
    
a,
    u {
        text-decoration: none;
        color: #ffcb05;
        padding-right: 50px;
    
    }


        .pokeLogo {
            font-size: 40px;
        }
}



.menuBar {
    display: flex;
        flex-direction: row;
        justify-content:right;
        width: 100%;
        min-height: 75px;
        margin: 0 auto;
        
    
}