// Pokemon Type Colours

@use 'variables' as *;

.normal{
    border: 10px solid #A8A77A;
}

.fire{
    border: 10px solid #EE8130;
}

.water{
    border: 10px solid #6390F0;
}

.electric{
    border: 10px solid #F7D02C;
}

.grass{
    border: 10px solid #7AC74C;
}

.ice{
    border: 10px solid #96D9D6;
}

.fighting{
    border: 10px solid #C22E28;
}

.poison{
    border: 10px solid #A33EA1;
}

.ground{
    border: 10px solid #E2BF65;
}

.flying{
    border: 10px solid #A98FF3;
}

.psychic{
    border: 10px solid #F95587;
}

.bug{
    border: 10px solid #A6B91A;
}

.rock{
    border: 10px solid #B6A136;
}

.ghost{
    border: 10px solid #735797;
}

.dragon{
    border: 10px solid #6F35FC;
}

.dark{
    border: 10px solid #705746;
}

.steel{
    border: 10px solid #B7B7CE;
}

.fairy{
    border: 10px solid #D685AD;
}