// Search Bar Partial

@use 'variables' as *;

.pokeSearch{
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    margin: 20px auto;    
    border-radius: 20px; 
    border: 5px groove $bodyFontBlack;    
    max-width: 600px;

    label[for="search"]{
        display: block;
        margin: 0 0 10px 0;
        font-weight: 600;
    }

    input[type="search"]{
        width: 60%;
        max-width: 500px;
        height: 40px;
        border: 2px solid $pokeDarkYellow;
        border-radius: 5px;
        vertical-align: text-bottom;
        padding: 0 10px;
        text-align: center;

        &::placeholder{
            text-transform: capitalize;
            text-align: center;
        }
    }
}

.searchInfo ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;

    .pokemonStats{
        display: flex;
    }

    li {
        width: 800px;
        height: 700px;
        display: flex;
        flex-direction: column;
        margin: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        transition: 0.3s ease-in-out;

        &:hover{
            transform:scale(1.05);
        }

        p {
            margin: 0;
            padding: 10px 10px;
            text-transform: capitalize;

            span {
                display: block;
                font-weight: bold;
            }

            .idBold {
                display: inline-block;
                font-weight: bold;
            }
        }

        img{
            width: 100%;
        }
    }

    .pokeId{
        background: linear-gradient(270deg, $backgroundGreen 0%, $backgroundBlue 100%);
        width: 210px;
        border-radius: 5px 0 5px 0;
        text-align: center;
    }

    .pokeStats,
    .pokeInfo{
        width: 100%;
        padding: 20px;
    }

    .pokeType,
    .pokeName{
        padding: 0;
    }

    .pokeStats p{
        display: flex;
        justify-content: space-between;
    }
}