// Typography Partial

@use 'variables' as *;

@font-face {
    font-family: 'pokeFontHollow';
    src: url(../fonts/pokemon_hollow.woff) format('woff');
    src: url(../fonts/pokemon_hollow.woff2) format('woff2');
}

@font-face {
    font-family: 'pokeFontSolid';
    src: url(../fonts/pokemon_solid.woff) format('woff');
    src: url(../fonts/pokemon_solid.woff2) format('woff2');
}

@font-face {
    font-family: 'gameFont';
    src: url(../fonts/pokemon_generation_1.woff) format('woff');
}

html{
    font-size: 125%;
    font-family: $bodyFont;
    color: $bodyFontBlack;
}

.pokeLogo a{
    font-family: $pokeFontSolid;
    color: $pokeLightYellow;
}

.menuBar a{
    color: $bodyFontWhite;
    font-family: $bodyFont;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
}

h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
}
.pokeLogo a{
    -webkit-text-stroke: 3px $pokeDarkBlue;
    font-size: 180%;
}

.pokeGallery h2 {
    font-size: 3rem;
}


label[for="search"]{
    font-size: 1.5rem;
}

.pokedex li,
.searchInfo ul li{
    font-family: $gameFont;
    line-height: 25px;
    letter-spacing: 2px;
}

.searchInfo ul li{
    font-family: $gameFont;
    line-height: 35px;
    letter-spacing: 2px;
    font-size: 1.5rem;
}

.textContainer{
    font-family: $bodyFont;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.contactPage {
    letter-spacing: 1px;
    
    h1{
        font-family: $pokeFontSolid;
        color: $pokeLightYellow;
        font-size: 3rem;
    }

    p{
        line-height: 30px;
    }
}