// Typography Partial

@use 'variables' as *;

@font-face {
    font-family: 'pokeFont_hollow';
    src: url(../fonts/pokemon_hollow.woff) format('woff');
    src: url(../fonts/pokemon_hollow.woff2) format('woff2');
}

@font-face {
    font-family: 'pokeFont_solid';
    src: url(../fonts/pokemon_solid.woff) format('woff');
    src: url(../fonts/pokemon_solid.woff2) format('woff2');
}

@font-face {
    font-family: 'game_font';
    src: url(../fonts/pokemon_generation_1.woff) format('woff');
}

html{
    font-size: 125%;
    font-family: $body_font;
    color: $body_font_black;
}

.pokeLogo a{
    -webkit-text-stroke: 2px $poke_light_blue;
    font-size: 200%;
}
h1 {

    text-align: center;
    font-size: 500%;
    -webkit-text-stroke: 2px $poke_light_blue;

}
.pokeLogo a,
h1 {
    font-family: $pokefont_solid;
    color: $poke_light_yellow;
}

.menuBar a{
    color: $poke_light_yellow;
    font-family: $pokefont_solid;
    -webkit-text-stroke: 2px $poke_light_blue;
    font-size: 150%;
}

label[for="search"]{
    font-size: 1.5rem;
}

.text_container{
    font-family: $game_font;
    line-height: 30px;
    letter-spacing: 3px;
}

.contact_page {
    letter-spacing: 1px;
    
    h1{
        font-family: $pokefont_solid;
        color: $poke_dark_yellow;
        font-size: 3rem;
    }

    p{
        line-height: 30px;
    }
}