// Variables List Partial

// Font Families

$bodyFont: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
$pokeFontHollow: "pokeFontHollow";
$pokeFontSolid: "pokeFontSolid";
$gameFont: "gameFont";

// Color Palette

$backgroundGreen: #abd6bc;
$backgroundBlue: #a6dbf0;
$pokeLightYellow: #ffcb05;
$pokeLightBlue: #7bb5eb;
$pokeDarkYellow: #c7a008;
$pokeDarkBlue: #3c5aa6;
$navFontRed: red;
$bodyFontBlack: black;
$bodyFontWhite: white;
$backgroundBlueTwo: #081336;
$cardBackground: #ffffff33;