// Variables List

// Font Families


// Color Palette

$background_blue: #081336;

$card_background: #ffffff33;


$poke_yellow: #ffcb05;
$poke_light_blue: #2a75bb;
$poke_dark_yellow: #c7a008;
$poke_dark_blue: #3c5aa6;

// Asset Path

$asset_path: "../assets";