// Variables List Partial

// Font Families

$body_font: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
$pokefont_hollow: "pokefont_hollow";
$pokefont_solid: "pokefont_solid";
$game_font: "game_font";

// Color Palette

$background_blue: #c3e7f5;
$poke_light_yellow: #ffcb05;
$poke_light_blue: #4c95da;
$poke_dark_yellow: #c7a008;
$poke_dark_blue: #3c5aa6;
$nav_font_red: red;
$body_font_black: black;
$body_font_white: white;
$background_blue_two: #081336;
$card_background: #ffffff33;