html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "pokeFontHollow";
  src: url(../fonts/pokemon_hollow.woff) format("woff");
  src: url(../fonts/pokemon_hollow.woff2) format("woff2");
}
@font-face {
  font-family: "pokeFontSolid";
  src: url(../fonts/pokemon_solid.woff) format("woff");
  src: url(../fonts/pokemon_solid.woff2) format("woff2");
}
@font-face {
  font-family: "gameFont";
  src: url(../fonts/pokemon_generation_1.woff) format("woff");
}
html {
  font-size: 125%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
}

.pokeLogo a {
  -webkit-text-stroke: 2px #7bb5eb;
  font-size: 200%;
}

.pokeGallery h2 {
  -webkit-text-stroke: 2px #7bb5eb;
  font-size: 300%;
}

h1 {
  text-align: center;
  font-size: 500%;
  -webkit-text-stroke: 2px #7bb5eb;
}

.pokeLogo a,
h1,
.pokeGallery h2 {
  font-family: "pokeFontSolid";
  color: #ffcb05;
}

.menuBar a {
  color: #ffcb05;
  font-family: "pokeFontSolid";
  -webkit-text-stroke: 2px #7bb5eb;
  font-size: 150%;
}

label[for=search] {
  font-size: 1.5rem;
}

.pokedex li,
.searchInfo ul li {
  font-family: "gameFont";
  line-height: 25px;
  letter-spacing: 2px;
}

.searchInfo ul li {
  font-family: "gameFont";
  line-height: 35px;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

.textContainer {
  font-family: "gameFont";
  line-height: 30px;
  letter-spacing: 3px;
}

.contactPage {
  letter-spacing: 1px;
}
.contactPage h1 {
  font-family: "pokeFontSolid";
  color: #ffcb05;
  font-size: 3rem;
}
.contactPage p {
  line-height: 30px;
}

body {
  background: -webkit-gradient(linear, right top, left top, from(#abd6bc), to(#a6dbf0));
  background: linear-gradient(270deg, #abd6bc 0%, #a6dbf0 100%);
}

header .site {
  margin: 40px 0 80px 0;
}
header .navBar {
  background-color: #3c5aa6;
  padding-bottom: 30px;
}

.wrapper {
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
}

.navSpace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  list-style: none;
  text-transform: none;
  padding-top: 30px;
}
.navSpace .pokeLogo a,
.navSpace .menuBar a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.navSpace .pokeLogo a:hover, .navSpace .pokeLogo a:focus,
.navSpace .menuBar a:hover,
.navSpace .menuBar a:focus {
  color: #c7a008;
}
.navSpace .menuBar a {
  padding: 0 10px 0 50px;
}
.navSpace .pokeLogo {
  position: relative;
}
.navSpace .pokeLogo a {
  position: absolute;
  top: 7px;
}
.navSpace .pokeLogo img {
  width: 80px;
}

.popupContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}
.popupContainer .oakContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  background-color: #7bb5eb;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid #c7a008;
}
.popupContainer .oakContainer .imgContainer {
  height: 400px;
}
.popupContainer .oakContainer .imgContainer img {
  height: 100%;
}
.popupContainer .oakContainer .textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
}
.popupContainer .oakContainer .textContainer p {
  background-color: #dedde0;
  margin: 0;
  padding: 10px;
  border-radius: 0 20px 20px 20px;
  border: 5px inset grey;
}

.pokeSearch {
  text-align: center;
  margin: 0 auto;
  padding: 30px;
  background-color: #7bb5eb;
  border-radius: 10px;
  border: 3px #c7a008 solid;
  max-width: 1000px;
}
.pokeSearch label[for=search] {
  display: block;
  margin: 0 0 10px 0;
}
.pokeSearch input[type=search] {
  width: 60%;
  max-width: 500px;
  height: 40px;
  border: 2px solid #c7a008;
  border-radius: 5px 0 0 5px;
  vertical-align: text-bottom;
  padding: 0 10px;
}
.pokeSearch button {
  border: 2px solid #c7a008;
  border-radius: 0 5px 5px 0;
  width: 40px;
  height: 40px;
  vertical-align: text-bottom;
  margin-left: -6px;
  background-color: #ffcb05;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.pokeSearch button:hover, .pokeSearch button:focus {
  background-color: #c7a008;
}
.pokeSearch button i {
  font-size: 20px;
}

.searchInfo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
}
.searchInfo ul li {
  width: 500px;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.searchInfo ul li:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.searchInfo ul li p {
  margin: 0;
  margin-top: 10px;
  padding: 5px;
  text-transform: capitalize;
}
.searchInfo ul li p span {
  display: block;
  font-weight: bold;
}
.searchInfo ul li p .idBold {
  display: inline-block;
  font-weight: bold;
}
.searchInfo ul li img {
  width: 90%;
}

.contactPage {
  border: 5px inset #c7a008;
  border-radius: 20px;
  padding: 30px;
  max-width: 1000px;
  margin-top: 150px;
}
.contactPage .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contactPage .header h1 {
  margin: 0;
}
.contactPage .header img {
  margin-right: 20px;
}
.contactPage p {
  text-align: center;
}
.contactPage .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contactPage .contact form,
.contactPage .contact .mediaLinks {
  border: 2px solid #c7a008;
  border-radius: 10px;
  padding: 20px;
}
.contactPage .contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}
.contactPage .contact form label {
  margin-top: 10px;
  margin-bottom: 3px;
}

.contact .info div,
.messageContainer,
.buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact .info div input,
.contact .info div button,
.contact .info div textarea,
.messageContainer input,
.messageContainer button,
.messageContainer textarea,
.buttonContainer input,
.buttonContainer button,
.buttonContainer textarea {
  border-radius: 5px;
  border: 2px solid #3c5aa6;
}
.contact .info div input,
.messageContainer input,
.buttonContainer input {
  width: 100%;
}
.contact .info div button,
.messageContainer button,
.buttonContainer button {
  width: 160px;
  height: 50px;
  margin-top: 10px;
  background-color: #ffcb05;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contact .info div button:hover, .contact .info div button:focus,
.messageContainer button:hover,
.messageContainer button:focus,
.buttonContainer button:hover,
.buttonContainer button:focus {
  background-color: #c7a008;
}

.mediaLinks {
  width: 45%;
}
.mediaLinks .icons {
  margin-top: 10px;
  margin-bottom: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}
.mediaLinks .icons div {
  margin-top: 10px;
  margin-bottom: 20px;
}
.mediaLinks .icons div i {
  border-radius: 3px;
  -ms-flex-item-align: center;
      align-self: center;
  width: 30px;
}
.mediaLinks .icons div a {
  text-decoration: none;
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.mediaLinks .icons div a:hover, .mediaLinks .icons div a:focus {
  color: #c7a008;
}
.mediaLinks .contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mediaLinks .contactInfo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.mediaLinks .contactInfo div i {
  width: 30px;
  height: 20px;
}
.mediaLinks .contactInfo div p {
  margin: 0;
}

.aboutFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px 0 80px 0;
}
.aboutFlex h1 {
  margin: 20px;
}

.aboutTitle {
  text-align: center;
  margin: 0 auto;
  padding: 30px;
  background-color: #7bb5eb;
  border-radius: 10px;
  border: 3px #c7a008 solid;
  font-size: 150%;
  line-height: 40px;
}

footer {
  margin-top: 250px;
  background-color: #3c5aa6;
}
footer .footerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footerFlex .footerColumnSocial {
  margin-top: 50px;
  text-align: center;
}
footer .footerFlex .footerColumnSocial a {
  color: white;
  margin: 0 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
footer .footerFlex .footerColumnSocial a:hover, footer .footerFlex .footerColumnSocial a:focus {
  color: #ffcb05;
}
footer .footerFlex .footerCompany {
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  padding-top: 30px;
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.pokeGallery h2 {
  text-align: center;
  padding: 30px 0 30px 0;
}
.pokeGallery ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
}
.pokeGallery ol li {
  width: 240px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.pokeGallery ol li p {
  margin: 0;
  margin-top: 10px;
  padding: 5px;
  text-transform: capitalize;
}
.pokeGallery ol li p span {
  display: block;
  font-weight: bold;
}
.pokeGallery ol li p .idBold {
  display: inline-block;
  font-weight: bold;
}
.pokeGallery ol li:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.pokeGallery ol li img {
  margin-top: 10px;
  width: 100%;
  height: auto;
}

@media (max-width: 1000px) {
  .wrapper {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .wrapper {
    width: 95%;
  }
  .pokeGallery ol li {
    margin: 15px 25px;
  }
  .aboutFlex h1 {
    font-size: 400%;
    margin: 20px 0;
  }
  .aboutFlex img {
    width: 200px;
  }
  .contactPage .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactPage .contact .mediaLinks {
    margin-top: 30px;
  }
  .contactPage .contact form,
.contactPage .contact .mediaLinks {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .wrapper {
    width: 97%;
  }
  html {
    font-size: 100%;
  }
  .navSpace .menuBar a {
    padding: 0 10px 0 10px;
  }
  .navSpace .pokeLogo a {
    top: 15px;
  }
  .popupContainer .oakContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .popupContainer .oakContainer .textContainer {
    margin: 0 0 20px 0;
  }
  .searchBar .pokeSearch {
    padding: 10px;
  }
  .searchBar .pokeSearch input[type=search] {
    width: 70%;
  }
  .searchInfo ul li {
    width: 350px;
    height: 600px;
  }
  .contactPage .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactPage .contact .mediaLinks {
    margin-top: 30px;
  }
  .contactPage .contact form,
.contactPage .contact .mediaLinks {
    width: 100%;
  }
}
@media (max-width: 340px) {
  .navBar .navSpace {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navBar .navSpace .pokeLogo {
    text-align: center;
    margin: 0 0 0 -150px;
  }
}